extends ../_layout/default.pug

block styles

block scripts
  if !starter
    // Plugins and scripts required by this view
    script(src='/vendors/@coreui/utils/js/index.js')
    script(src='/js/main.js')

block breadcrumb
    +breadcrumb(
    [
      { href: '/', label: 'Home'},
      { label: 'Statistics'}
    ]
  )

block view
  .row
    .col-md-12
      .mb-4
        .progress(id="epochProgress")
          .progress-bar.bg-info.progress-bar.progress-bar-striped.progress-bar-animated(id="epoch-progress" role='progressbar' style='width: 0%; overflow: visible;' aria-valuenow='0' aria-valuemin='0' aria-valuemax='100')
            span Qubic epoch#{' '}
              span.value 0: 0%
              
      p.d-flex.align-items-center.text-info 
        a.btn.btn-info(href="javascript:window.location.reload(true)") Update
        span(style="width:1em")
        b Calculation update every 10 minutes
      .mb-4
        .table-responsive
            table.table.table-striped.border.mb-0
              thead.fw-semibold.text-nowrap
                tr.align-middle
                  th.bg-body-secondary Alias
                  th.bg-body-secondary(title="Average hashrate only activity minutes") Avg. hashrate
                  th.bg-body-secondary.text-center Activity in the epoch
                  th.bg-body-secondary.text-center Status
                  th.bg-body-secondary.text-center Accounting
                  th.bg-body-secondary Start activity
                  th.bg-body-secondary Last activity
              tbody
                each worker in workers
                  tr
                    td= worker[0]
                    td #{worker[1]} It/s
                    td
                      .d-flex.justify-content-between.align-items-baseline
                        .fw-semibold #{worker[2]}%
                        .text-nowrap.small.text-body-secondary.ms-3= worker[5]
                      .progress.progress-thin
                        if worker[2] >= 80
                          .progress-bar.bg-success(role='progressbar', style=`width: ${worker[2]}%`, aria-valuenow=worker[2], aria-valuemin='0', aria-valuemax='100')
                        else if worker[2] >= 30
                          .progress-bar.bg-warning(role='progressbar', style=`width: ${worker[2]}%`, aria-valuenow=worker[2], aria-valuemin='0', aria-valuemax='100')
                        else if worker[2] >= 1
                          .progress-bar.bg-danger(role='progressbar', style=`width: ${worker[2]}%`, aria-valuenow=worker[2], aria-valuemin='0', aria-valuemax='100')
                        else
                          .progress-bar.bg-info(role='progressbar', style=`width: ${worker[2]}%`, aria-valuenow=worker[2], aria-valuemin='0', aria-valuemax='100')
                    td.text-center
                      if worker[2] >= 80
                        <span class="badge me-1 bg-success">Success</span>
                      else if worker[2] >= 30
                        <span class="badge me-1 bg-warning">Warning</span>
                      else if worker[2] >= 1
                        <span class="badge me-1 bg-danger">Danger</span>
                      else
                        <span class="badge me-1 bg-dark">Dead</span>
                    td.text-center
                      svg.icon.icon-xl
                        if worker[6]
                          use(xlink:href="/vendors/@coreui/icons/free.svg#cil-check")
                        else
                          use(xlink:href="/vendors/@coreui/icons/free.svg#cil-x")
                    td= worker[3]
                    td= worker[4]

      .mb-4    
        h2 Miners
        .table-responsive
            table.table.table-striped.border.mb-0
              thead.fw-semibold.text-nowrap
                tr.align-middle
                  th.bg-body-secondary Miners
                  th.bg-body-secondary(title="Average hashrate in the epoch") Avg. hashrate
                  th.bg-body-secondary(title="Percentage of total contribution") Prct. (P3TI)
                  th.bg-body-secondary(title="Current solutions") Current sols (%)
                  th.bg-body-secondary(title="Current estimated revenue") Est. Revenue
                  th.bg-body-secondary(title="Potential solutions per epoch") Potential sols
                  th.bg-body-secondary(title="Potential revenue per epoch") Potential revenue
              tbody
                each user in users
                  if user[7]
                    tr.align-middle.fw-bolder
                      td.text-info= user[0]
                      td.text-info #{user[1]} It/s
                      td.text-info #{user[2]}%
                      td.text-info= user[3]
                      td.text-info #{user[4] ? user[4] + '$' : '-'}
                      td.text-info #{user[5] ? user[5] : '-'}
                      td.text-info #{user[6] ? user[6] + '$' : '-'}
                  else 
                    tr.align-middle
                      td= user[0]
                      td #{user[1]} It/s
                      td #{user[2]}%
                      td= user[3]
                      td #{user[4] ? user[4] + '$' : '-'}
                      td #{user[5] ? user[5] : '-'}
                      td #{user[6] ? user[6] + '$' : '-'}

